$primary-color-dark:   #455A64 !default;
$primary-color:        #607D8B !default;
$primary-color-light:  #CFD8DC !default;
$primary-color-text:   #FFFFFF !default;

$accent-color:         #FF5252 !default;

$primary-text-color:   #212121 !default;
$secondary-text-color: #757575 !default;
$divider-color:        #BDBDBD !default;

$gray-bright: #F5F5F5 !default;
$gray-light: #E0E0E0 !default;
$gray: #9E9E9E !default;
$gray-dark: #212121 !default;

$info-color: #2196F3 !default;
$success-color: #4CAF50 !default;
$warning-color: #FF9800 !default;
$danger-color: #F44336 !default;

$black: #0A0A0A !default;
$white: #FEFEFE !default;

$palette: (
        'primary-color': $primary-color,
        'primary-color-dark': $primary-color-dark,
        'primary-color-light': $primary-color-light,
        'accent-color': $accent-color,
        'info-color': $info-color,
        'success-color': $success-color,
        'warning-color': $warning-color,
        'danger-color': $danger-color,
) !default;

@mixin set-text-color($bg: $primary-color, $text: $white){
  background: $bg;
  @if (lighten(bg) > 50){
    color: $white;
  }
  @else {
    color: $primary-text-color;
  }
}