@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$unit: 10px !default;

$gutter: 16px !default;

// breakpoints
$x-small: 480px !default;
$small: 600px !default;
$medium: 840px !default;
$large: 960px !default;
$x-large: 1280px !default;
$xx-large: 1600px !default;

// breakpoints 2
// xs - mobile portrait: 0 - 480px
// sm - mobile landscape: 480px - 600px
// md - tablet portrait: 600px - 960px
// lg - tablet landscape: 960px 1024px
// xl - desktop: 1024px - 1280px
// xxl - desktop large: 1280px+
$xs: 480px !default;
$sm: 600px !default;
$md: 960px !default;
$lg: 1024px !default;
$xl: 1280px !default;

$phone: $xs !default;
$tablet: $md !default;
$desktop: $xl !default;

// Phone Portrait
//@media (max-width: $xs) {
//
//}

// Phone Landscape
//@media (min-width: $xs) and (max-width: $sm) {
//
//}

// Tablet Portrait
//@media (min-width: $sm) and (max-width: $md) {
//
//}

// Tablet Landscape
//@media (min-width: $md) and (max-width: $lg) {
//
//}

// Desktop
//@media (min-width: $lg) and (max-width: $xl) {
//
//}

// Desktop Large
//@media (min-width: $xl) {
//
//}

$breakpoints: $x-small, $small, $medium, $large, $x-large, $xx-large !default;
$breakpoints2: $xs, $sm, $md, $lg, $xl !default;

// fonts
$primary-font: 'Roboto', 'Open Sans', monospace !default;
$secondary-font: monospace !default;

// font weights
$light-font: 300 !default;
$normal-font: 400 !default
$semi-bold-font: 600 !default;
$bold-font: 700 !default;
$extra-bold-font: 900 !default;

// font sizes
$small-text: 10px;
$medium-text: 12px;
$large-text: 18px;
$x-large-text: 24px;
$xx-large-text: 32px;

// box shadows
$shadow-2px:
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;

$shadow-3px:
  0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 1px 8px 0 rgba(0, 0, 0, 0.12) !default;

$shadow-4px:
  0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.2) !default;

$shadow-6px:
  0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.2) !default;

$shadow-8px:
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12),
  0 3px 5px -3px rgba(0, 0, 0, 0.2) !default;

$shadow-16px:
  0 16px 24px 2px rgba(0, 0, 0, 0.14),
  0 6px 30px 5px rgba(0, 0, 0, 0.12),
  0 8px 10px -5px rgba(0, 0, 0, 0.2) !default;

// animations
$animation-duration: 0.35s;
$animation-delay: ($animation-duration / 5);
$animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
$animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
$animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);