/*! Starfinder - Breadcrumb Component Styles */

/* VARIABLES */

:root {
  /* ... */
}

/* STYLES */

/***
  title: Breadcrumb
  section: Components
  description:
  example: |

***/

.c-breadcrumb {
  overflow: hidden;
}