/*! Starfinder - Card Component Styles */

/* VARIABLES */

.c-card {
   @include box-shadow();
   background: $white;

   &__heading{
     background: $primary-color;
     color: $white;
     font-size: $medium-text;
     font-weight: $semi-bold-font;
     padding: 10px $gutter;

     & > .c-button--collapse {
       border: none;
       float: right;
       padding: 0 4px;
     }
   }

   &__body{
     padding: ($gutter / 2) ($gutter / 2) $gutter;

     & > .o-cell {
       padding: ($gutter / 2);
     }
   }
 }