/*! Starfinder - Form Component Styles */

/* VARIABLES */

:root {

  /* ... */

}

/* STYLES */

/***
  title: Form
  section: Components
  description: These components are commonly used in forms
  example: |

***/

.c-form {
  margin-bottom: 4px;
  padding-top: 16px;

  &__title {

  }

  & input[type="text"],
  & input[type="password"],
  & input[type="search"] {

  }

  & input[type="text"]:focus,
  & input[type="password"]:focus,
  & input[type="search"]:focus {

  }
}


.c-form{
  //position: relative;

  &__control {
    background: transparent;
    border-bottom: 1px solid $divider-color;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    display: block;
    font-size: $small-text;
    height: 20px;
    line-height: 1.846153846;
    transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
    width: 100%;

    & ~ .c-form__control__label {
      font-size: $small-text;
      font-weight: $normal-font;
      pointer-events: none;
      //position: absolute;
      transition: 0.2s ease all;
      opacity: 0.5;
    }

    &:focus {
      border-color: $primary-color;
      box-shadow: none;
      outline: 0;

      & ~ .c-form__control__label {
        color: $primary-color;
        opacity: 1;
      }
    }


  }
}

.form-control {
  background: transparent;
  border-bottom: 1px solid $gray-light;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  color: $gray-dark;
  display: block;
  font-size: 12px;
  height: 20px;
  line-height: 1.846153846;
  transition: border-color ease-in-out .25s, box-shadow ease-in-out .25s;
  width: 100%;
}

.form-control:focus ~ label {
  color: $gray-dark;
  opacity: 1;
}

.form-control.floating-label ~ label {
  top: 19px;
  font-size: 16px;
}

.form-control.floating-label:focus ~ label,
.form-control.floating-label:active ~ label {
  color: $gray-dark;
  opacity: 1;
  top: 0;
  font-size: 12px;
}