/*! Starfinder - Grid Object Styles */

.o-grid {
  display: table;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.o-grid--no-spacing {
  margin: 0;
}

.o-cell {
  flex: 0 0 auto;
}

// xs - mobile portrait: 0 - 480px
// sm - mobile landscape: 480px - 600px
// md - tablet portrait: 600px - 960px
// lg - tablet landscape:
// xl - desktop: 960px - 1280px
// xxl - desktop large: 1280px+
@function calculatePercentage($size, $max) {
  @return (100% / ($max / $size));
}

@mixin makeResponsiveGridSize($name, $min, $max: '') {
  $length: 12;

  @media (min-width: $min) and (max-width: $max - 1) {

    .o-cell {

      &--hidden-#{$name} {
        display: none !important;
      }

      @for $idx from 1 through $length {

        &--order-#{$idx}-#{$name} {
          -webkit-order: $idx;
          -ms-flex-order: $idx;
          order: $idx;
        }
      }
    }
  }

}

@mixin makeGrid() {
  $max: 12;

  @for $idx from 1 through $max {
    $width: (100% / ($max / $idx));

    .o-cell {

      &--order-#{$idx} {
        -webkit-order: $idx;
        -ms-flex-order: $idx;
        order: $idx;
      }

      &--column-#{$idx} {
        margin: 0 $gutter;
        width: calc(#{$width} - #{$gutter * 2});
      }

      .o-grid--no-spacing>&--column-#{$idx} {
        margin: 0;
        width: $width;
      }

      @if $idx != 12 {
        &--offset-#{$idx} {
          margin-left: calc(#{$width} + #{$gutter});
        }

        .o-grid--no-spacing>&--offset-#{$idx} {
          margin-left: $width;
        }
      }
    }

  }

  @include makeResponsiveGridSize('phone', 0, $phone);
  @include makeResponsiveGridSize('tablet', $phone, $tablet);
  @include makeResponsiveGridSize('desktop', $tablet, $desktop * 4);
}

@mixin makeGridBreakpoint($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @include makeGrid();

  }
}

@include makeGrid();
.o-grid.o-grid--no-spacing {
    padding: 0;
}

[class*="o-cell"] {
  vertical-align: top; /* FAQ: Fallback for IE9< */
  box-sizing: border-box;
}
.o-cell--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}

.o-cell--middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center
}

.o-cell--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}
//
//.o-cell--stretch {
//  -webkit-align-self: stretch;
//  -ms-flex-item-align: stretch;
//  -ms-grid-row-align: stretch;
//  align-self: stretch
//}
//
//.o-grid.o-grid--no-spacing>.o-cell {
//  margin: 0
//}
//